.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.body {
    display: flex;
    flex: 1;
    overflow: hidden;
}

main {
    flex: 1;
    margin-left: 5%;
    overflow-y: auto;
}

bodyFormat {
    display: flex;
    flex-direction: row;
}

.bodyMain {
    flex: 1;
}

.navbar {
    height: 60px;
    background-color: #343a40;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 1rem;
}

