
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 6px 24px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.marca {
    display: flex;
    align-items: center;
    color: #056C44;
}

.logo {
    height: 60px;
    object-fit: contain;
}

.userInfo {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #0f0f0f;
}

.userInfo span {
    padding: 0px 8px;
    font-size: 1.2rem;
}

.avatar {
    height: 40px;
    width: 40px;
    object-fit: cover;
}
